div#header{
  display: flex;
  background: #4A90E2;
  color: #FFF;
  width: 100%;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

span{
  font-weight: bold;
}

a{
  cursor: pointer;
  text-decoration: none;
}
